<!-- Page Content Section -->
    <!--<main>-->
    <section class="section-normal">
        <div class="container">
            <div class="title section">
                <h1 class="text-center">
                    Search for student results
                </h1>
            </div>
            <br />
            <br />
            <div class="text-center form-inline">
                <!--<form class="form-inline" action="/">-->
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First name" ng-model="FName" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Email1" placeholder="Last name" ng-model="LName" />
                </div>
                <div class="form-group inp-calendar">
                    <input type="text" class="form-control" id="Email2" placeholder="Date of birth" ng-model="DOB" />
                </div>
                <div class="form-group inp-calendar">
                    <input type="text" class="form-control" id="Email3" placeholder="Test date" ng-model="TestDate" />
                </div>
                <a ui-sref="StudentResult({ FName: FName, LName: LName ,DOB: DOB,TestDate: TestDate})" class="btn btn-primary btn-w75px" role="button">Search</a>
                <!--<button type="submit" class="btn btn-primary">
                    Go</button>-->
                <!--</form>-->
                
                <!--<a href="#" class="search-more"> More search options <i class="fa fa-angle-down" aria-hidden="true"></i></a>-->
                <br />
                <br />
                <br />
            </div>
        </div>
    </section>
    <section class="section-blue">
        <div class="container">
            <br />
            <br />
            <div class="title section">
                <h1 class="text-center">
                    Search for whole cohort results
                </h1>
            </div>
            <br />
            <br />
            <div class="text-center form-inline">
                <div class="form-group inp-calendar">
                    <input type="text" class="form-control" id="Text1" placeholder="Select a month" ng-model="Month" />
                </div>
                <a ui-sref="CohortResult({ Month : Month})" class="btn btn-primary btn-w75px" role="button">Search</a>
            </div>
                        
            <br />
            <br />
            <br />
            <br />            
        </div>
    </section>
    <!--</main>-->
    <!--/ Page Content Section -->