<!-- Page Content Section -->
    <!--<main>-->
    <section class="section-normal">
        <div class="container">
            <div class="title section">
                <h1>
                    Search results for 'John Smith'
                </h1>
            </div>
            <p>
                34 results</p>
            <br />
            <div class="form-inline">
                <!--<form class="form-inline" action="/">-->
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First name" value="John" ng-model="FName"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last name" value="Smith" ng-model="LName"/>
                </div>
                <div class="form-group inp-calendar">
                    <input type="text" class="form-control" placeholder="Date of birth" ng-model="DOB"/>
                </div>
                <div class="form-group inp-calendar">
                    <input type="text" class="form-control" placeholder="Test date" ng-model="TestDate"/>
                </div>
                <a href="#" class="btn btn-primary faded btn-w75px" role="button">Search</a>
                <!--<div class="form-group search-more-results-filter">
                    <a href="#" class="search-more">More search options <i class="fa fa-angle-down" aria-hidden="true">
                    </i></a>
                </div>-->
                <!--</form>-->
                <br />
                <br />
            </div>
            <table class="table base-table">
                <thead>
                    <tr>
                        <th>
                            First name
                        </th>
                        <th>
                            Last name
                        </th>
                        <th>
                            Date of birth
                        </th>
                        <th>
                            UCI number
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="learner in learners">
                        <td>{{learner.GivenName}}</td>
                        <td>{{learner.FamilyName}}</td>
                        <td>{{learner.DateOfBirth | formatDate}}</td>
                        <td>{{learner.ExternalLearnerReferences.ExternalLearnerReference.UCI}}</td>
                        <td>
                            <a ui-sref="IndividualStudent({LearnerId : learner.InternalLearnerId})" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                            <a ui-sref="IndividualStudent({LearnerId : learner.InternalLearnerId})" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                   <!-- <tr>
                        <td>
                            John
                        </td>
                        <td>
                            Smith
                        </td>
                        <td>
                            dd/mm/yy    
                        </td>
                        <td>
                            1234567890
                        </td>
                        <td>
                            <a ui-sref="individualStudent({LearnerId : '86058D57F5198A8C6B9CBD1E5CCA352E'})" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                            <a ui-sref="individualStudent({LearnerId : '86058D57F5198A8C6B9CBD1E5CCA352E'})" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            John
                        </td>
                        <td>
                            Smith
                        </td>
                        <td>
                            dd/mm/yy
                        </td>
                        <td>
                            1234567890
                        </td>
                        <td>
                            <a ui-sref="individualStudent({LearnerId : '77777777F5198A8C6B9CBD1E5CCA352E'})" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                            <a ui-sref="individualStudent({LearnerId : '77777777F5198A8C6B9CBD1E5CCA352E'})" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            John
                        </td>
                        <td>
                            Smith
                        </td>
                        <td>
                            dd/mm/yy
                        </td>
                        <td>
                            1234567890
                        </td>
                        <td>
                            <a ui-sref="individualStudent({LearnerId : '66666666F5198A8C6B9CBD1E5CCA352E'})" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                            <a ui-sref="individualStudent({LearnerId : '66666666F5198A8C6B9CBD1E5CCA352E'})" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            John
                        </td>
                        <td>
                            Smith
                        </td>
                        <td>
                            dd/mm/yy
                        </td>
                        <td>
                            1234567890
                        </td>
                        <td>
                            <a ui-sref="individualStudent({LearnerId : '55555555F5198A8C6B9CBD1E5CCA352E'})" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                            <a ui-sref="individualStudent({LearnerId : '55555555F5198A8C6B9CBD1E5CCA352E'})" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            John
                        </td>
                        <td>
                            Smith
                        </td>
                        <td>
                            dd/mm/yy
                        </td>
                        <td>
                            1234567890
                        </td>
                        <td>
                            <a ui-sref="individualStudent({LearnerId : '44444444F5198A8C6B9CBD1E5CCA352E'})" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                            <a ui-sref="individualStudent({LearnerId : '44444444F5198A8C6B9CBD1E5CCA352E'})" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a> 
                        </td>
                    </tr>-->
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <a href="#">Show more <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <br />
            <br />
            <br />
        </div>
    </section>
    <!--</main>-->
    <!--/ Page Content Section -->