<div class="parsys iparsys section" ng-controller="ContFooter">
    <div class="footer-bar section">
        <div class="container">
            <div class="footer-bar-links-container">
                <ul class="footer-bar-links">
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                    <li><a href="#">Legal Statement</a></li>
                </ul>
            </div>
            <p class="copyright">
                Copyright 2016 Pearson Education. All rights reserved.</p>
        </div>
    </div>
</div>
