﻿html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,u,center,dl,dt,dd,button,ul,ol,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea{margin:0;padding:0;border:0;font-size:100%;font-weight:inherit;font-style:inherit;font-family:inherit;vertical-align:baseline}
html,body{height:100%}
a{text-decoration:none;color:#0089b7}
a:hover{text-decoration:underline}
input:focus::-webkit-input-placeholder{color:transparent}
input:focus::-moz-placeholder{color:transparent}
input:focus::-ms-input-placeholder{color:transparent}
li{margin:0 0 0 1.5em;padding:0;border:0;font-size:100%;font-weight:inherit;font-style:inherit;font-family:inherit;vertical-align:baseline}
html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none}
body{font-family:"Open Sans","Gill Sans","Gill Sans MT",Calibri,sans-serif,Verdana;font-size:14px;line-height:1.30769;color:#333}
h1{font-size:34px}
h2{font-size:28px}
h3{font-size:24px}
h4{font-size:18px;font-weight:bold}
h5{font-size:16px;font-weight:bold}
h6{font-size:14px;font-weight:bold}

html{text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased}
body{background-color:#fff;color:#000;direction:ltr;font-size:100%;font-style:normal;font-weight:normal;line-height:1.6;padding:59px 0 0}
img{max-width:100%}
hr{border-color:rgba(0,0,0,0.075)}
@media(min-width:992px){body{padding:82px 0 0}
}

body>header{margin-bottom:0}
header div.title{margin:0 auto 1.35rem;overflow:hidden;padding:0 1rem;width:100%}
header .check-box-list{display:none}


h1,h2,h3,h4,h5,h6{margin:0 0 .9rem 0}
h1{color:#003057;font-family:"Playfair Display","Georgia","Times New Roman",serif;font-size:2.5rem;line-height:1.3;margin-bottom:0}
p{font-size:1rem;line-height:1.6;margin:0 0 .9rem 0}
em{font-style:italic}
small{font-size:.75rem}
ul,ol{list-style-position:inside;margin:0 0 1.5rem;padding:0}
ul>li>ul,ol>li>ol{margin:0 0 0 1rem;padding-left:0}
ul ul,ul ol,ol ol,ol ul{margin-left:0}
dl dt{font-weight:bold}
dl dd{margin-bottom:1rem}
dl dt,dl dd{line-height:1.6}
@media(min-width:768px){h1{font-size:2.5rem}
}


/*

.legal-notification{background-color:#005a70;color:#fff;margin-top:1rem}
.legal-notification-copy{font-size:.875rem}
.legal-notification-links{margin-bottom:0}
.legal-notification-links>li:first-child{margin-left:0}
.cookie-notification{background-color:#505759}
.cookie-notification p{font-size:.875rem;margin-bottom:0}
.cookie-notification a{color:#e5e5e5;text-decoration:none}
.cookie-notification a:hover{color:#fff}
@media(min-width:768px){.legal-notification{padding:1rem 0}
.legal-notification-links-container{clear:none;float:right;padding:0}
.legal-notification-copy{float:left}
}


.remember-my-selection .checkbox-inline{color:#000;font-size:.875rem;padding-right:2.5rem;position:relative}
.remember-my-selection input[type=checkbox]{cursor:pointer;position:absolute;right:0;visibility:hidden}
.remember-my-selection input[type=checkbox]:after{border:solid 1px #000;background-color:#fff;color:#005a70;content:"";cursor:pointer;display:block;font-weight:600;height:1.5rem;left:-1rem;line-height:1.6;position:absolute;right:0;text-align:center;top:-0.35rem;visibility:visible;width:1.5rem}
.remember-my-selection input[type=checkbox]:checked:after{background-color:#fff;content:'\f00c';color:#005a70;font-family:"FontAwesome"}
::-webkit-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder,::-ms-input-placeholder,:placeholder-shown{color:#e5e5e5}
input[type="search"]{-moz-appearance:none;-webkit-appearance:none}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration{display:none}
.cc_banner-wrapper{position:relative;z-index:9001}
.cc_container{-moz-animation-duration:.8s;-moz-animation-fill-mode:both;-o-animation-duration:.8s;-o-animation-fill-mode:both;-webkit-animation-duration:.8s;-webkit-animation-fill-mode:both;-webkit-animation-name:fadeInRight;animation-duration:.8s;animation-fill-mode:both;animation-name:fadeInRight;background:#e5e5e5;border-radius:3px;bottom:0;color:#003057;left:0;overflow:hidden;padding:.75rem 1rem 1rem;position:fixed;right:0}
.cc_container .cc_btn_wrapper{overflow:hidden}
.cc_container .cc_btn{float:right;font-size:.875rem;padding:.5rem 1rem}
.cc_container .cc_btn:after,.cc_container .cc_btn:before{content:none}
.cc_container .cc_title{font-size:1.25rem;margin-bottom:.5rem}
.cc_container .cc_message{font-size:.875rem}
.cc_container .cc_more_info{display:block;float:left;font-weight:bold;margin:.25rem 0}
.cc_container .cc_more_info:active,.cc_container .cc_more_info:hover{color:#00313d}
.cc_container .cc_more_info:after{content:none}
@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(1rem);transform:translateX(1rem)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(1rem);-ms-transform:translateX(1rem);transform:translateX(1rem)}
100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}
@media screen and (min-width:500px){.cc_container{-webkit-box-shadow:0 0 5px 2px rgba(0,0,0,0.35);-moz-box-shadow:0 0 5px 2px rgba(0,0,0,0.35);box-shadow:0 0 5px 2px rgba(0,0,0,0.35);left:initial;right:1rem;bottom:1rem;width:320px}
}
@media print{.cc_banner-wrapper,.cc_container{display:none}
}
body .buorg{background-color:#d4eae4;border-bottom:0;font-family:"Open Sans",Arial,Helvetica,sans-serif;color:#333;font-size:.875rem}
body .buorg a{color:#005a70!important}
.child-page-list h4{margin:0;padding:0}
.child-page-list h4 a{background-color:#005a70;border-radius:3px;color:#fff;display:block;line-height:1.6;position:relative}
.child-page-list h4 a:after{color:#fff;content:"\f078";font-family:"FontAwesome";font-size:.875rem;position:absolute;right:1rem;top:.75rem;-webkit-transition:transform .4s ease-in-out;-moz-transition:transform .4s ease-in-out;-o-transition:transform .4s ease-in-out;transition:transform .4s ease-in-out}
.child-page-list-expand-collapse-button{display:none!important}
.child-page-list{padding:0 1rem;width:100%}
.child-page-list ul{background-color:#e5e5e5;border:0;position:relative;margin:0 auto 1rem;max-height:0;overflow:hidden;-webkit-transition:max-height 1s ease-in-out;-moz-transition:max-height 1s ease-in-out;-o-transition:max-height 1s ease-in-out;transition:max-height 1s ease-in-out}
.child-page-list ul:after{content:"";display:table;clear:both}
.child-page-list li{display:block;margin:0}
.child-page-list li:after{border:0;content:none}
.child-page-list li:active>ol,.child-page-list li:focus>ol,.child-page-list li:hover>ol{display:inherit}
.child-page-list li ol{margin:0;padding:0}
.child-page-list a{color:#003057;display:block;font-size:.9375rem;font-weight:normal;line-height:1.6;padding:.75rem 1.5rem}
.child-page-list a:active,.child-page-list a:focus,.child-page-list a:hover{background-color:#005a70;color:#fff;text-decoration:none}
.child-page-list a.child-page-list-current-page{background-color:#003057;color:#fff}
.child-page-list ol{display:none;margin:0;padding:0;position:absolute;top:100%;z-index:1}
.child-page-list ol li{display:list-item;float:none;min-width:20rem;position:relative}
.child-page-list.open h4 a{border-bottom-left-radius:0;border-bottom-right-radius:0}
.child-page-list.open h4 a:after{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.child-page-list.open ul{border-bottom-left-radius:3px;border-bottom-right-radius:3px;max-height:1000px}
.child-page-list ul ol ol{left:100%;position:absolute;top:0}
@media(min-width:768px){.child-page-list{margin:0 auto;width:750px}
}
@media(min-width:992px){.child-page-list{width:100%}
.child-page-list ul{padding:0 1rem;width:970px}
.child-page-list h4{display:none}
.child-page-list{background-color:#e5e5e5}
.child-page-list ul{margin:0 auto 1rem;max-height:1000px}
.child-page-list li{float:left}
.child-page-list a{line-height:1.2}
}
@media(min-width:1200px){.child-page-list ul{width:1170px}
}
.sitemap-page .child-page-list{background:0;padding:0}
.sitemap-page .child-page-list ul>li>a{font-weight:600}
.sitemap-page .child-page-list ul{background:0;max-height:none;padding:0}
.sitemap-page .child-page-list ol{display:block;margin-left:1rem;position:static}
.sitemap-page .child-page-list li{display:block;float:none}
.sitemap-page .child-page-list a,.sitemap-page .child-page-list .child-page-list-current-page{background:0;color:#005a70;padding:0;margin-bottom:1rem}
.sitemap-page .child-page-list a:hover,.sitemap-page .child-page-list .child-page-list-current-page:hover{background:0;color:#005a70}*/


a{color:#005a70;outline:0;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;word-wrap:break-word}
a:hover{text-decoration:none}
a:active{outline:0}
a:focus{-moz-outline-style:none;outline:0;text-decoration:none}
a:not([href]){color:inherit;margin:0;padding:0;text-decoration:none}
a:not([href]):before{background:none!important;content:''}
a[target]:after{content:"\f08e";display:inline-block;font-family:"FontAwesome";font-size:.875rem;height:1rem;margin:0 0 0 .5rem;width:1rem}
.cta-1 a,.cc_btn{background-color:#005a70;border:2px solid #005a70;border-radius:3px;color:#fff;display:inline-block;padding:1rem 1.5rem 1rem 3rem;font-size:1rem;font-weight:600;left:0;line-height:1.4;position:relative}
.cta-1 a:focus,.cc_btn:focus,.cta-1 a:hover,.cc_btn:hover{background:0;color:#005a70}
.cta-1 a:before,.cc_btn:before{content:"\f054";float:left;font-family:"FontAwesome";height:1rem;left:1.3rem;margin:0;position:absolute;top:1.1rem;width:1rem}
a[href*=modal-],.content-tile-title a,.events-summary a,.cta-2 a,.quick-links a,.quick-links-alt a,.carousel-quick-links a{color:#005a70;left:1.25rem;position:relative;font-size:1rem;font-weight:600;overflow-wrap:break-word}
a[href*=modal-]:before,.content-tile-title a:before,.events-summary a:before,.cta-2 a:before,.quick-links a:before,.quick-links-alt a:before,.carousel-quick-links a:before{content:"\f054";float:left;font-family:"FontAwesome";height:1rem;left:-1.25rem;margin:0;position:absolute;top:0;width:1rem}
a[href*=modal-]:hover,.content-tile-title a:hover,.events-summary a:hover,.cta-2 a:hover,.quick-links a:hover,.quick-links-alt a:hover,.carousel-quick-links a:hover{color:#00313d}
.tag-list,.archive-list{margin-bottom:0}
.tag-list ul,.archive-list ul{margin-bottom:1rem;overflow:hidden}
.tag-list li,.archive-list li{float:left;margin:0 .4rem .4rem 0}
.tag-list a,.archive-list a{background-color:#005a70;border-radius:3px;color:#fff;display:block;font-size:.85rem;padding:.4rem 1rem}
.tag-list a:hover,.archive-list a:hover{background-color:#003057}
.tag-list .selected,.archive-list .selected{background-color:#003057;border-radius:3px;color:#fff;font-size:.85rem;font-weight:300;padding:.4rem 1rem}
.link-list.default{background-color:#fff;margin:0;padding:0}
.link-list.default li{margin:0;padding:1rem 0}
.link-list.default a{cursor:pointer;font-weight:300}
.link-list.default a .cta-icon-left{left:-0.3125rem}
.link-list.breadcrumbs{display:none}
.link-list.breadcrumbs ul,.link-list.breadcrumbs li{margin-bottom:0}
.quick-links li{border-top:solid #e5e5e5 1px;margin:0;padding:1rem}
.quick-links li:hover{background-color:#e5e5e5}
.quick-links li:last-child{border-bottom:solid #e5e5e5 1px}
.quick-links a{font-weight:300}
.quick-links-alt li{margin:0;padding:1rem 0}
.quick-links-alt a{font-weight:600}
.carousel-quick-links h2{color:#005a70;font-size:1.75rem;padding-left:1rem}
.document-list a{line-height:1.6}
.document-list a:before{background-position:center;background-repeat:no-repeat;background-size:100%;content:"";display:inline-block;height:1rem;margin-right:.25rem;vertical-align:middle;width:1rem}
.document-list a:after{content:none}
.document-list a>span{color:#000;font-size:.875rem}
.document-list a[href$='.csv']:before{background-image:url('pearson-uk/images/filetypes/icon-csv.png')}
.document-list a[href$='.doc']:before{background-image:url('pearson-uk/images/filetypes/icon-doc.png')}
.document-list a[href$='.docx']:before{background-image:url('pearson-uk/images/filetypes/icon-docx.png')}
.document-list a[href$='.exe']:before{background-image:url('pearson-uk/images/filetypes/icon-exe.png')}
.document-list a[href$='.gif']:before{background-image:url('pearson-uk/images/filetypes/icon-gif.png')}
.document-list a[href$='.jpeg']:before{background-image:url('pearson-uk/images/filetypes/icon-jpeg.png')}
.document-list a[href$='.jpg']:before{background-image:url('pearson-uk/images/filetypes/icon-jpg.png')}
.document-list a[href$='.mp3']:before{background-image:url('pearson-uk/images/filetypes/icon-mp3.png')}
.document-list a[href$='.mp4']:before{background-image:url('pearson-uk/images/filetypes/icon-mp4.png')}
.document-list a[href$='.pdf']:before{background-image:url('pearson-uk/images/filetypes/icon-pdf.png')}
.document-list a[href$='.png']:before{background-image:url('pearson-uk/images/filetypes/icon-png.png')}
.document-list a[href$='.pps']:before{background-image:url('pearson-uk/images/filetypes/icon-pps.png')}
.document-list a[href$='.ppsx']:before{background-image:url('pearson-uk/images/filetypes/icon-ppsx.png')}
.document-list a[href$='.ppt']:before{background-image:url('pearson-uk/images/filetypes/icon-ppt.png')}
.document-list a[href$='.pptx']:before{background-image:url('pearson-uk/images/filetypes/icon-pptx.png')}
.document-list a[href$='.rtf']:before{background-image:url('pearson-uk/images/filetypes/icon-rtf.png')}
.document-list a[href$='.swf']:before{background-image:url('pearson-uk/images/filetypes/icon-swf.png')}
.document-list a[href$='.txt']:before{background-image:url('pearson-uk/images/filetypes/icon-txt.png')}
.document-list a[href$='.wav']:before{background-image:url('pearson-uk/images/filetypes/icon-wav.png')}
.document-list a[href$='.wma']:before{background-image:url('pearson-uk/images/filetypes/icon-wma.png')}
.document-list a[href$='.xls']:before{background-image:url('pearson-uk/images/filetypes/icon-xls.png')}
.document-list a[href$='.xslx']:before{background-image:url('pearson-uk/images/filetypes/icon-xslx.png')}
.document-list a[href$='.zip']:before{background-image:url('pearson-uk/images/filetypes/icon-zip.png')}
/*
.link-list-middle-menu h2{background-color:#e5e5e5;border-radius:3px;color:#005a70;cursor:pointer;font-size:1rem;font-weight:600;margin-bottom:0;padding:.75rem 1.25rem}
.link-list-middle-menu h2:after{color:#005a70;content:"\f078";font-family:"FontAwesome";font-size:.875rem;position:absolute;right:2rem;top:.75rem;-webkit-transition:transform .4s ease-in-out;-moz-transition:transform .4s ease-in-out;-o-transition:transform .4s ease-in-out;transition:transform .4s ease-in-out}
.link-list-middle-menu ul{background-color:#fff;border:1px solid transparent;margin:0;max-height:0;max-width:360px;overflow-y:scroll;position:absolute;z-index:99;-webkit-transition:max-height .4s ease-in-out;-moz-transition:max-height .4s ease-in-out;-o-transition:max-height .4s ease-in-out;transition:max-height .4s ease-in-out}
.link-list-middle-menu li{border-bottom:1px solid #e5e5e5;color:#000;margin:0}
.link-list-middle-menu li:last-of-type{border:0}
.link-list-middle-menu a{display:block;font-size:1rem;line-height:1.4;padding:1rem .5rem 1rem 1rem}
.link-list-middle-menu a:hover{background:#003057;color:#fff}
.link-list-middle-menu.active ul{border-color:#e5e5e5;border-bottom-left-radius:3px;border-bottom-right-radius:3px;max-height:250px}
.link-list-middle-menu.active h2{border-bottom-left-radius:0;border-bottom-right-radius:0}
.link-list-middle-menu.active h2:after{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.function-panel{margin-bottom:0;overflow:hidden!important}
.rss-feed{margin-bottom:1.5rem}
.rss-feed-post{border-top:1px solid #e5e5e5;padding:1rem .5rem;overflow:hidden}
.rss-feed-post:last-child{border-bottom:1px solid #e5e5e5}
.rss-feed-post:hover{background-color:#e5e5e5;color:#005a70}
.rss-feed__title{font-size:1rem;margin-bottom:0}
.rss-feed__meta{color:#000}
.rss-feed__link{color:#000;font-weight:300}
body.cq-wcm-edit .modal{border:1px solid #000;display:block;opacity:1.0;padding:0}
body.cq-wcm-edit .modal-id-ref{color:red;display:block;font-size:1.4rem}
.modal,.modal-id-ref{display:none}
.modal-open{background-color:#fff;display:block;left:50%;max-height:80%;max-width:90%;padding:1.5rem;position:fixed;overflow-y:scroll;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:64rem;z-index:11000}
.modal-open .article,.modal-open .iframe{margin:0}
.modal-close{color:#005a70!important;font-size:1.5rem;line-height:1;position:absolute;right:1rem;top:1rem;z-index:9}
.modal-close:hover,.modal-close:focus{color:#000;text-decoration:none}
.modal-overlay{background-color:rgba(0,0,0,0.75);display:none;height:100%;left:0;position:fixed;top:0;width:100%;z-index:200}
.feedback-cta a{display:none}
@media(min-width:768px){.modal--feedback{max-width:650px;padding-top:0}
.feedback-cta a{background-color:#005a70;border-bottom-left-radius:3px;border-bottom-right-radius:3px;box-shadow:0 0 5px 1px rgba(0,0,0,0.35);color:#fff;display:block;left:auto;padding:.5rem 1rem;position:fixed;right:1.2rem;top:50%;z-index:1;-webkit-transform-origin:right;-moz-transform-origin:right;transform-origin:right;-webkit-transform:translate(0,-50%) rotate(90deg);-moz-transform:translate(0,-50%) rotate(90deg);transform:translate(0,-50%) rotate(90deg)}
.feedback-cta a:hover{background-color:#00313d;color:#fff}
.feedback-cta a:before{content:none}
}
.event>h2{display:none}
.event ul{margin:0;padding:0}
.event p{margin-bottom:.9rem}
.event .event-summary,.event .fa{display:none}
.event .event-time,.event .event-address{font-weight:bold;margin-bottom:1rem}
@media all and (min-width:768px){.event{margin-left:-15px;margin-right:-15px;overflow:hidden;width:100%}
.event picture,.event .event-time,.event .event-address,.event .event-description{float:left;position:relative;min-height:1px;padding-left:15px;padding-right:15px;width:50%}
}
.events-calendar-day-headers .events-calendar-day{color:#003057;font-weight:bold;padding-bottom:.625rem}
.events-calendar-controls button{color:#005a70}
.events-calendar-days a{color:#003057;cursor:pointer;display:block;height:50px;line-height:50px;pointer-events:all;width:100%}
.events-calendar-days a:hover{background-color:#12b2a6;color:#fff;text-decoration:none}
.events-calendar-days .today a{background-color:#e5e5e5}
.events-calendar-days .selected a{background-color:#005a70;color:#fff}
.events-calendar-days .events-calendar-indicator{background:#005a70;border-radius:0;bottom:.625rem;height:2px;right:50%;top:auto;width:1rem;-webkit-transform:translateX(50%);-moz-transform:translateX(50%);transform:translateX(50%)}
.events-calendar-days .events-calendar-day.selected .events-calendar-indicator{color:#000}
.events-summary time{font-size:1.75rem;font-weight:normal;line-height:1.2;margin-bottom:1.5rem}
.events-summary .item{left:auto;list-style-type:none;opacity:1;margin-bottom:2rem;position:relative}
.events-summary h6 a{color:#000;font-size:1.25rem;font-weight:normal;left:0}
.events-summary h6 a:after,.events-summary h6 a:before{content:none}
.events-summary .events-summary-control-container{display:none}
.events-summary li{list-style-type:disc;list-style-position:inside}
.event-description ul{margin-bottom:.9rem}
.event-description li{list-style-type:disc;list-style-position:inside}
.event-description .event-description__register{background-color:#005a70;border-radius:3px;border:2px solid #005a70;color:#fff;display:inline-block;font-size:1rem;font-weight:600;padding:1rem 1rem 1rem 2.5rem;position:relative}
.event-description .event-description__register:hover{background:0;color:#005a70}
.event-description .event-description__register:before{content:"\f054";float:left;font-family:"FontAwesome";height:1.3rem;left:1rem;margin:0;position:absolute;top:1rem;width:1.3rem}
.column-control-content-highlight{background-color:#f1f1f1;margin:3rem 0;padding:3rem 0}
.column-control-content-highlight--blue{background-color:#d4eae4;margin:3rem 0;padding:3rem 0}
.column-control-content-highlight--blue h1{margin-bottom:2rem}
.column-control-content--outer{margin:3rem 0}
.column-control-middle-menu .text{margin-bottom:0}
.column-control-middle-menu .text h4{background-color:#e5e5e5;border-radius:3px;color:#005a70;cursor:pointer;font-size:1rem;margin-bottom:0;padding:.75rem 1.25rem}
.column-control-middle-menu .text h4:after{color:#005a70;content:"\f078";font-family:"FontAwesome";font-size:.875rem;position:absolute;right:2rem;top:.75rem;-webkit-transition:transform .4s ease-in-out;-moz-transition:transform .4s ease-in-out;-o-transition:transform .4s ease-in-out;transition:transform .4s ease-in-out}
.column-control-middle-menu .dynamic-content-list{display:block;max-height:0;width:100%;-webkit-transition:max-height 1s ease-in-out;-moz-transition:max-height 1s ease-in-out;-o-transition:max-height 1s ease-in-out;transition:max-height 1s ease-in-out}
.column-control-middle-menu .dynamic-content-list li:hover,.column-control-middle-menu .dynamic-content-list a:hover{background-color:#003057;color:#fff}
.column-control-middle-menu ol{margin:0}
.column-control-middle-menu li:last-of-type{border:0}
.column-control-middle-menu.active .dynamic-content-list{border-bottom-left-radius:3px;border-bottom-right-radius:3px;max-height:360px}
.column-control-middle-menu.active .text h4{border-bottom-left-radius:0;border-bottom-right-radius:0}
.column-control-middle-menu.active .text h4:after{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
@media(min-width:992px){.column-control-middle-menu .dynamic-content-list{width:360px}
}
.column-control-dropdown-menu{text-align:center;margin-bottom:1rem}
.column-control-dropdown-menu .text{color:#005a70;border:2px solid #005a70;border-radius:3px}
.column-control-dropdown-menu .text:before{content:"\f078";font-family:"FontAwesome";position:absolute;right:40px;top:1rem;-webkit-transition:transform .4s ease-in-out;-moz-transition:transform .4s ease-in-out;-o-transition:transform .4s ease-in-out;transition:transform .4s ease-in-out}
.column-control-dropdown-menu h4{cursor:pointer;font-size:1.2rem;font-weight:300;margin:0;padding:.8rem 0;width:100%}
.column-control-dropdown-menu b{font-weight:300}
.column-control-dropdown-menu .link-list{clear:both;margin:0;max-height:0;overflow:hidden;position:relative;width:100%;z-index:0;-webkit-transition:max-height 1s ease-in-out;-moz-transition:max-height 1s ease-in-out;-o-transition:max-height 1s ease-in-out;transition:max-height 1s ease-in-out}
.column-control-dropdown-menu .link-list ul{border:1px solid #e5e5e5;margin:0}
.column-control-dropdown-menu .link-list li{border-bottom:1px solid #e5e5e5;margin:0;padding:0}
.column-control-dropdown-menu .link-list li:last-of-type{border:0}
.column-control-dropdown-menu .link-list a{color:#000;display:block;padding:.8rem 0;width:100%}
.column-control-dropdown-menu .link-list a:hover{color:#005a70;background:#e5e5e5}
.column-control-dropdown-menu.active .link-list{max-height:1000px}
.column-control-dropdown-menu.active .link-list ul{border-bottom-left-radius:3px;border-bottom-right-radius:3px}
.column-control-dropdown-menu.active .text{color:#fff;background:#005a70;border-bottom-left-radius:0;border-bottom-right-radius:0}
.column-control-dropdown-menu.active .text:before{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.cq-wcm-edit .link-list{display:block!important}
.do-not-stack .col-sm-11{width:91.66666667%!important}
.do-not-stack .col-sm-10{width:83.33333333%!important}
.do-not-stack .col-sm-9{width:75%!important}
.do-not-stack .col-sm-8{width:66.66666667%!important}
.do-not-stack .col-sm-7{width:58.33333333%!important}
.do-not-stack .col-sm-6{width:50%!important}
.do-not-stack .col-sm-5{width:41.66666667%!important}
.do-not-stack .col-sm-4{width:33.33333333%!important}
.do-not-stack .col-sm-3{width:25%!important}
.do-not-stack .col-sm-2{width:16.66666667%!important}
.do-not-stack .col-sm-1{width:8.33333333%!important}
.carousel a[target]:after{content:none}
.carousel .carousel-control{color:#005a70;font-size:1rem}
.carousel .carousel-control:hover{color:#00313d}
.carousel-indicators{position:static;margin:1rem 0 0 0;width:100%}
.carousel-indicators li{background-color:#fff;border-color:#005a70;height:.75rem;width:.75rem}
.carousel-indicators li.active{background-color:#005a70;height:.75rem;margin:1px;width:.75rem}
@media(min-width:768px){.carousel-control{top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
}
.content-tile{border-radius:3px;margin-bottom:1rem}
.content-tile a[target]:after{content:none}
.content-tile a[href*=modal-]{font-weight:300;left:0}
.content-tile a[href*=modal-]:before{content:none}
.content-tile h2{font-size:1.5rem;margin-top:.5rem}
.content-tile .content-tile-text{margin-top:.5rem}
.content-tile .content-tile-text a{color:#005a70}
.content-tile .content-tile-text a[target]:after{content:"\f08e";display:inline-block;font-family:"FontAwesome";font-size:.875rem;height:1rem;margin:0 0 0 .5rem;width:1rem}
.content-tile-container figure img{margin-bottom:0}
.content-tile-container figure>a h2{border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-color:#005a70;color:#fff;font-size:1rem;font-weight:600;margin-bottom:0;margin-top:0;padding:1rem 1.5rem 1rem 2.5rem;position:relative;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out}
.content-tile-container figure>a h2:before{content:"\f054";float:left;font-family:"FontAwesome";height:1rem;left:1rem;margin:0;position:absolute;top:1rem;width:1rem}
.content-tile-container figure>a h2:hover{background-color:#00313d}
.content-tile-container figure>a[target] h2:after{content:"\f08e";display:inline-block;font-family:"FontAwesome";font-size:.875rem;height:1rem;margin:0 0 0 .5rem;width:1rem}
.content-tile.default .content-tile-text{margin-bottom:0}
.content-tile.content-tile-take-a-look{background-color:#d2db0e;color:#505759;padding:1rem;position:relative;overflow:hidden}
.content-tile.content-tile-take-a-look figcaption{float:left;margin:0;width:65%}
.content-tile.content-tile-take-a-look picture{float:right;width:34%}
.content-tile.content-tile-take-a-look a{background-color:#005a70;border:2px solid #005a70;border-radius:3px;color:#fff;display:inline-block;font-weight:600;font-size:1rem;padding:1rem 1rem 1rem 2.5rem;position:relative}
.content-tile.content-tile-take-a-look a:hover{background:0;color:#005a70}
.content-tile.content-tile-take-a-look a:before{content:"\f054";float:left;font-family:"FontAwesome";height:1rem;left:1rem;margin:0;position:absolute;top:1rem;width:1rem}
.content-tile.content-tile-take-a-look h2{background:0;color:#000;font-size:2rem;font-weight:600;line-height:1.2;margin:0 0 1.5rem;padding:0}
.content-tile.content-tile-take-a-look p{color:#505759;font-size:1.25rem;margin-bottom:1rem}
.content-tile.content-tile-take-a-look img{display:block;margin:0}
.content-tile.content-tile-homepage-topic-white .content-tile-container figure img{display:block;margin:1rem auto 1rem;width:inherit}
.content-tile.content-tile-homepage-topic-white figure h2{background:0;color:#005a70;font-weight:600;padding:0 0 0 1.5rem}
.content-tile.content-tile-homepage-topic-white figure h2:before{left:0;top:0}
.content-tile.content-tile-homepage-topic-white figure h2:hover{background:0;color:#00313d}
.content-tile-homepage-topic-feature,.subject-panel-homepage-topic-feature{background-color:#003057;color:#fff;padding:1rem}
.content-tile-homepage-topic-feature h2,.subject-panel-homepage-topic-feature h2{font-weight:600;line-height:1;margin-bottom:1rem}
.collapsable-section .par-body{display:none;margin-top:1.5rem;padding:0 1.5rem}
.collapsable-section header{background-color:#e5e5e5;border-radius:3px;padding:.75rem 1.25rem}
.collapsable-section header.active h1:after{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.collapsable-section h1{color:#003057;font-family:"Open Sans";font-size:1rem;line-height:1.6;margin-bottom:0;position:relative}
.collapsable-section h1:after{content:"\f078";font-family:"FontAwesome";position:absolute;right:0}
.collapsable-section .link-list{margin:0;padding:0}
.dynamic-content-list{margin-bottom:0}
.dynamic-content-list ol{padding:0}
.dynamic-content-list li{border-bottom:1px solid #e5e5e5;color:#000;margin:0;padding:1rem .5rem}
.dynamic-content-list li:hover{background-color:#e5e5e5}
.dynamic-content-list h4{font-size:1rem;font-weight:300;line-height:1.4;margin-bottom:0}
.dynamic-content-list a{cursor:pointer}
.dynamic-content-list a:hover{color:#005a70}
.dynamic-content-list-type-a li:first-child{border-top:1px solid #e5e5e5}
.dynamic-content-list-type-a li:last-child{border-bottom:1px solid #e5e5e5}
.dynamic-content-list-type-b li:first-child{border-top:1px solid #e5e5e5}
.dynamic-content-list-type-b li:last-child{border-bottom:1px solid #e5e5e5}
.dynamic-content-list-type-b time{font-size:1rem;margin-bottom:0}
@media(min-width:768px){.dynamic-content-list-type-b time{float:left;margin-right:3%;width:22%}
.dynamic-content-list-type-b h4{float:left;width:75%}
}
.dynamic-content-overlay{background-color:#fff;display:none;max-height:250px;overflow-y:scroll;position:absolute;z-index:99}
.dynamic-content-overlay ol{border:1px solid #e5e5e5}
.dynamic-content-overlay a h4{font-size:1rem;margin-bottom:0}
.blog-list h2{font-size:1.2rem;margin-top:.5rem;width:100%}
.blog-list header span{padding:0}
.blog-list .blog-list-readmore{font-size:.875rem;-webkit-order:4;-ms-order:4;order:4;-webkit-flex:1;-ms-flex:1;flex:100%;text-decoration:underline}
.blog-list .blog-list-readmore:first-letter {text-transform:capitalize}
.blog-list .blog-list-info{font-size:.85rem;color:#505759}
.blog-list:not(.blog-list-flex-layout){margin-bottom:0}
.blog-list:not(.blog-list-flex-layout) header{float:right;width:calc(40% - 20px)}
.blog-list:not(.blog-list-flex-layout) article{border:0}
.blog-list:not(.blog-list-flex-layout) article>div>h1,.blog-list:not(.blog-list-flex-layout) article>div>h2,.blog-list:not(.blog-list-flex-layout) article>div>h3,.blog-list:not(.blog-list-flex-layout) article>div>h4,.blog-list:not(.blog-list-flex-layout) article>div>h5,.blog-list:not(.blog-list-flex-layout) article>div>h6,.blog-list:not(.blog-list-flex-layout) article>div>ul,.blog-list:not(.blog-list-flex-layout) article>div>ol,.blog-list:not(.blog-list-flex-layout) article>div>blockquote,.blog-list:not(.blog-list-flex-layout) article>div>p:not(:first-of-type){display:none}
.blog-list:not(.blog-list-flex-layout) article>div a:first-of-type{float:left;margin-right:20px;width:60%}
.blog-list:not(.blog-list-flex-layout) nav{display:none}
.blog-list-flex-layout{margin-bottom:0}
.blog-list-flex-layout article{border:0;margin:0}
.blog-list-flex-layout article>h1,.blog-list-flex-layout article>h2,.blog-list-flex-layout article>h3,.blog-list-flex-layout article>h4,.blog-list-flex-layout article>h5,.blog-list-flex-layout article>h6,.blog-list-flex-layout article>ul,.blog-list-flex-layout article>ol,.blog-list-flex-layout article>blockquote,.blog-list-flex-layout article>p:not(:first-of-type){display:none}
.blog-list-flex-layout article>a:first-of-type:not(.blog-list-readmore){overflow:hidden}
.blog-list-flex-layout article>a:first-of-type:not(.blog-list-readmore) img{display:block;margin:0;min-height:197px;min-width:263px;width:100%}
.blog-list-flex-layout header{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-ms-flex-order:2;-webkit-order:2;order:2}
.blog-list-flex-layout .blog-author-photo{float:left;height:40px;margin-bottom:.5rem;-ms-flex-order:2;-webkit-order:2;order:2;width:40px}
.blog-list-flex-layout .blog-author-photo img{border-radius:20px;height:40px;width:40px}
.blog-list-flex-layout a{-ms-flex-order:1;-webkit-order:1;order:1}
.blog-list-flex-layout p{-ms-flex-order:3;-webkit-order:3;order:3}
.blog-list-flex-layout nav{clear:both;float:left;margin-bottom:3rem;min-height:auto;width:100%}
section:not(.blog-flex) .blog-list-flex-layout li:first-of-type{background:#505759;color:#fff}
section:not(.blog-flex) .blog-list-flex-layout li:first-of-type article{padding:0 1rem .5rem 1rem}
section:not(.blog-flex) .blog-list-flex-layout li:first-of-type article>a:first-of-type:not(.blog-list-readmore){height:250px;margin-left:-1rem;margin-right:-1rem}
section:not(.blog-flex) .blog-list-flex-layout li:first-of-type a{color:#fff}
section:not(.blog-flex) .blog-list-flex-layout li:first-of-type img{height:auto;width:100%}
section:not(.blog-flex) .blog-list-flex-layout li:first-of-type .blog-list-info{color:#fff}
@media(min-width:768px){.blog-list-flex-layout ul{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.blog-list-flex-layout li{-webkit-flex:265px;-ms-flex:265px;flex:265px;float:left;margin:0 1rem 1rem 0;max-width:265px}
.blog-list-flex-layout li:nth-child(4n+3){margin-right:0}
.blog-list-flex-layout article{display:-webkit-flex;display:-ms-flex;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.blog-list-flex-layout>a:first-of-type:not(.blog-list-readmore){-webkit-align-items:center;-ms-align-items:center;align-items:center;display:-webkit-flex;display:-ms-flex;display:flex;height:197px;-webkit-justify-content:center;-ms-justify-content:center;justify-content:center}
section:not(.blog-flex) .blog-list-flex-layout li:first-of-type{-webkit-flex:546px;-ms-flex:546px;flex:546px;max-width:546px}
}
.blog-flex .blog-list-flex-layout nav{display:none}
.blog-post,.employee-case-study-page main{overflow:hidden}
.blog-post h1,.employee-case-study-page main h1,.blog-post h2,.employee-case-study-page main h2,.blog-post h3,.employee-case-study-page main h3,.blog-post h4,.employee-case-study-page main h4,.blog-post h5,.employee-case-study-page main h5,.blog-post h6,.employee-case-study-page main h6{margin:1.5rem 0 .4rem 0}
.blog-post h1,.employee-case-study-page main h1{line-height:1.1;margin-top:0;width:100%}
.blog-post p,.employee-case-study-page main p{margin:.5rem 0 1.5rem}
.blog-post ul,.employee-case-study-page main ul,.blog-post ol,.employee-case-study-page main ol,.blog-post blockquote,.employee-case-study-page main blockquote,.blog-post img,.employee-case-study-page main img{margin:.5rem 0 2rem}
.blog-post li,.employee-case-study-page main li{margin-bottom:.4rem}
.blog-post .blog-post-info,.employee-case-study-page main .blog-post-info{color:#505759;font-size:.85rem;padding-top:.6rem;position:relative}
.blog-post .blog-author-photo,.employee-case-study-page main .blog-author-photo{border-radius:20px;display:block;float:left;height:40px;margin-right:1rem;overflow:hidden;position:relative;top:-0.6rem;width:40px}
.blog-post .blog-author-photo img,.employee-case-study-page main .blog-author-photo img{height:40px;margin:0;width:40px}
.blog-post header span,.employee-case-study-page main header span{padding:0}
.blog-post .blog-flex-social-share,.employee-case-study-page main .blog-flex-social-share{float:left;margin-top:1rem;clear:both;width:100%}
.blog-post .blog-flex-social-share ul,.employee-case-study-page main .blog-flex-social-share ul{list-style:none;margin:0;padding:0}
.blog-post .blog-flex-social-share li,.employee-case-study-page main .blog-flex-social-share li{float:left;font-family:"FontAwesome";margin-left:.5rem}
.blog-post .blog-flex-social-share li a:after,.employee-case-study-page main .blog-flex-social-share li a:after{color:#fff;font-size:1.2rem;left:50%;line-height:1.3rem;margin:-0.5rem 0 0 -0.5rem;position:absolute;text-indent:0;top:50%}
.blog-post .blog-flex-social-share .blog-flex-share-google,.employee-case-study-page main .blog-flex-social-share .blog-flex-share-google{background:#dd4b39}
.blog-post .blog-flex-social-share .blog-flex-share-google a:after,.employee-case-study-page main .blog-flex-social-share .blog-flex-share-google a:after{content:'\F0D5'}
.blog-post .blog-flex-social-share .blog-flex-share-fb,.employee-case-study-page main .blog-flex-social-share .blog-flex-share-fb{background:#3b5998}
.blog-post .blog-flex-social-share .blog-flex-share-fb a:after,.employee-case-study-page main .blog-flex-social-share .blog-flex-share-fb a:after{content:'\F09A'}
.blog-post .blog-flex-social-share .blog-flex-share-linkedin,.employee-case-study-page main .blog-flex-social-share .blog-flex-share-linkedin{background:#0077b5}
.blog-post .blog-flex-social-share .blog-flex-share-linkedin a:after,.employee-case-study-page main .blog-flex-social-share .blog-flex-share-linkedin a:after{content:'\F0E1'}
.blog-post .blog-flex-social-share .blog-flex-share-twitter,.employee-case-study-page main .blog-flex-social-share .blog-flex-share-twitter{background:#55acee}
.blog-post .blog-flex-social-share .blog-flex-share-twitter a:after,.employee-case-study-page main .blog-flex-social-share .blog-flex-share-twitter a:after{content:'\F099'}
.blog-post .blog-flex-social-share span,.employee-case-study-page main .blog-flex-social-share span{float:left;font-size:.85rem;margin-top:.35rem}
.blog-post .blog-flex-social-share a,.employee-case-study-page main .blog-flex-social-share a{display:block;height:2.25rem;overflow:hidden;position:relative;text-align:center;text-indent:-10rem;width:2.25rem}
.blog-post .blog-flex-social-share a:after,.employee-case-study-page main .blog-flex-social-share a:after{font-family:"FontAwesome"}
.table-responsive>table{background-color:#fff;border:0;margin-bottom:1rem}
.table-responsive>table th{background-color:#003057;border:0;color:#fff;font-weight:600;padding:.5rem 1rem;text-align:left;text-transform:uppercase;vertical-align:middle}
.table-responsive>table th p{margin:0}
.table-responsive>table td{border:0;border-bottom:1px solid #e5e5e5;padding:.5rem 1rem;vertical-align:middle}
.table-responsive>table td p{font-size:.925rem;margin:0}
.table-responsive>table tr:last-child td{border-bottom:0;border-top:0}
.table-responsive>table tr:nth-child(odd) td{background:#f7f7f7}
.section__heading h2{color:#007fa3;font-size:2rem;font-weight:300;text-align:center;margin-bottom:3.5rem}
@media(min-width:768px){.section__heading h2{font-size:2.5rem}
}
.navbar #___gcse_0{margin:1rem 0;position:relative;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.navbar .gsc-input{border-color:#e5e5e5;font-size:.875rem;line-height:1.42857143;height:34px;padding:.25rem .5rem;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.navbar input.gsc-input{background:url("pearson-uk/images/search-bg.png") .25rem 50% no-repeat #fff!important}
.navbar input.gsc-input-focus{background:#fff!important}
.navbar .gsc-search-button{background:#005a70;border:0;border-radius:3px;color:transparent;cursor:pointer;display:block;height:34px;margin:0;min-width:0;padding:0;position:relative;width:34px}
.navbar .gsc-search-button:before{background-image:url('pearson-uk/images/search-icon.svg');background-position:center;background-repeat:no-repeat;background-size:100%;color:#003057;content:"";height:34px;left:0;position:absolute;top:0;width:34px;z-index:1}
.navbar .gsc-clear-button{display:none}
.navbar .cse form.gsc-search-box,.navbar form.gsc-search-box,.navbar .cse .gsc-control-cse,.navbar .gsc-control-cse,.navbar table.gsc-search-box,.navbar .cse table.gsc-search-box td.gsc-input,.navbar table.gsc-search-box td.gsc-input{background:0;border:0;margin:0;padding:0;width:100%}
body.en-page .navbar.shrink #___gcse_0,body:not(.en-page) .navbar.shrink #___gcse_0{margin:11px 0}
.function-panel .gsc-control-searchbox-only{border:1px solid #e5e5e5;margin-bottom:2rem}
@media(min-width:992px){body.en-page .navbar #___gcse_0{float:right;margin:1.87rem 0 1.25rem;padding-left:2rem;width:300px}
body:not(.en-page) .navbar #___gcse_0{float:right;margin:1.75rem 0 1.25rem;padding-left:1rem}
body:not(.en-page) .navbar .gsc-input{height:auto}
body:not(.en-page) .navbar td.gsc-input{bottom:-4rem;display:none;left:-250px;opacity:0;position:absolute;-webkit-transition:opacity .8s ease-in-out;-moz-transition:opacity .8s ease-in-out;-o-transition:opacity .8s ease-in-out;transition:opacity .8s ease-in-out;width:300px;z-index:1}
body:not(.en-page) .navbar td.gsc-input:before{border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #e5e5e5;content:"";height:5px;position:absolute;right:.75rem;top:-0.5rem;width:10px}
body:not(.en-page) .navbar td.gsc-input.open{display:block;opacity:1.0}
body:not(.en-page) .navbar input.gsc-input{box-shadow:0 1px 3px rgba(0,0,0,0.1);padding:1rem 1rem}
}
.search-results-page .gs-result a:after{content:none}
.search-results-page .gsc-control-cse,.search-results-page .gsc-refinementsArea{border:0;margin:0;padding:0}
.search-results-page .cse .gsc-refinementHeader.gsc-refinementhInactive,.search-results-page .gsc-refinementHeader.gsc-refinementhInactive,.search-results-page .gsc-refinementHeader.gsc-refinementhActive{background-color:#005a70;border-radius:3px;color:#fff;display:inline-block;font-family:"Open sans";font-size:.85rem;margin:0 10px 10px 0;padding:.4rem 1rem;text-decoration:none}
.search-results-page .cse .gsc-refinementHeader.gsc-refinementhInactive:hover,.search-results-page .gsc-refinementHeader.gsc-refinementhInactive:hover,.search-results-page .gsc-refinementHeader.gsc-refinementhActive:hover{background-color:#003057;color:#fff}
.search-results-page .gsc-refinementHeader.gsc-refinementhActive{background-color:#003057;border-radius:3px;font-size:.85rem;font-weight:300;color:#fff;padding:.4rem 1rem}
.search-results-page .gs-bidi-start-align,.search-results-page .gs-webResult div.gs-per-result-labels a.gs-label,.search-results-page .gs-per-result-labels,.search-results-page .gsc-control-cse div{font-family:"Open Sans"!important}
.search-results-page .gsc-control-cse .gs-result .gs-title{margin-bottom:.5rem;text-decoration:none}
.search-results-page .gsc-control-cse .gs-result .gs-title:link{color:#003057;display:block;font-size:1rem;font-family:"Open Sans"!important}
.search-results-page .gsc-results .gsc-cursor-box{background:#e5e5e5;border-top:1px solid #003057;margin:2rem auto;padding:1rem 0;text-align:center;width:100%}
.search-results-page .gsc-results .gsc-cursor-box .gsc-cursor-page{background:0;border:0;border-radius:2rem;color:#000;font-size:.875rem;line-height:1.2;padding:.65rem 1rem;text-decoration:none}
.search-results-page .gsc-results .gsc-cursor-box .gsc-cursor-page.gsc-cursor-current-page{background-color:#fff;font-weight:600;text-shadow:none}
.search-results-page .gsc-results .gsc-cursor-box .gsc-cursor-page:hover{background-color:#fff}
.search-results-page .gsc-getlink-container,.search-results-page .gsc-orderby,.search-results-page .gs-spacer{display:none}
.search-results-page .gsc-refinementsArea>div{display:none!important}
.search-results-page .refinement-select{background-color:#fff;background-image:url('data:image/svg+xml;utf8,<svgxmlns="http://www.w3.org/2000/svg"version="1.1"width="32"height="24"viewBox="003224"><polygonpoints="0,032,016,24"style="fill:rgb%28202,202,202%29"></polygon></svg>');background-size:9px 6px;background-position:right .5rem center;background-repeat:no-repeat;border:1px solid #b2b2b2;border-radius:0;font-size:.875rem;font-family:inherit;line-height:normal;height:2.4375rem;margin:0 0 1rem;padding:.5rem;width:100%;-webkit-appearance:none;-moz-appearance:none}
.search-results-page td.gsc-result-info-container,.search-results-page td.gsc-orderby-container{display:block;text-align:left}
.search-results-page .refinement-select-label{color:#505759;display:inline-block;font-size:.875rem;margin-bottom:.5rem}
.search-results-page .gsc-result-info{font-size:.875rem;padding-left:0}
@media(min-width:768px){.search-results-page td.gsc-result-info-container{display:table-cell}
.search-results-page td.gsc-orderby-container{display:table-cell;text-align:right}
.search-results-page .refinement-select{max-width:300px}
.search-results-page .refinement-select-label{margin-bottom:0;margin-right:1rem}
}
div.text,div.title{margin-bottom:0}
.standfirst p{font-size:1.25rem}
.blockquote p,.blockquote--large p{color:#003057;font-family:"Playfair Display","Georgia","Times New Roman",serif;font-size:1.25rem;line-height:1.4;padding:0 2rem}
.blockquote p:after,.blockquote--large p:after,.blockquote p:before,.blockquote--large p:before{display:inline-block;font-size:2.5rem;line-height:0;position:relative;top:.8rem}
.blockquote p:after,.blockquote--large p:after{content:'\201D';text-indent:.5rem}
.blockquote p:before,.blockquote--large p:before{content:'\201C';text-indent:-1.75rem}
.blockquote--large p{font-size:1.5rem}
.blockquote__attribution p{color:#505759;font-style:normal;display:block;text-indent:2rem}
.blockquote__attribution p:before{content:'\2014';color:#505759;padding-right:4px;padding-right:.25rem}
.accordion{padding:0}
.accordion-panel-header{background-color:#e5e5e5;border-radius:3px;margin-bottom:1.5rem;padding:.75rem 1.25rem}
.accordion-panel-header a{color:#003057;font-size:1rem;font-weight:600;margin-bottom:0;position:relative}
.accordion-panel-header .fa{margin-top:.35rem}
.accordion-panel-content{border:0;margin-bottom:2rem;overflow:hidden;padding:0 1rem}
.accordion-panel-content .column-control{padding-top:.5rem;padding-bottom:.5rem}
.accordion-panel-header+.accordion-panel-content *{margin:auto}
.accordion-panel-header+.accordion-panel-content p{margin-bottom:.9rem}
.accordion-panel-header+.accordion-panel-content ul{margin-bottom:1.5rem}
.accordion-panel-header+.accordion-panel-content ul li>ul,.accordion-panel-header+.accordion-panel-content ul li>ol{margin-left:1rem}
.accordion-panel-hide{display:none;left:0!important;position:static!important}
.accordion-panel-show{display:block}
.en-page .title h1{color:#003057;font-family:"Playfair Display","Georgia","Times New Roman",serif;font-size:2.5rem;text-align:center}
.en-page .par-header .title{display:none;height:0;margin:0;text-indent:-9999px}
.en-page .breadcrumb li:nth-of-type(2){display:none}
@media(min-width:768px){.en-page .title h1{font-size:2rem}
}
@media(min-width:992px){.en-page .title h1{font-size:2.5rem}
}
*/

/***** Site specific ******/



.mega-nav{margin-bottom:15px}
.mega-nav .dropdown{margin:0}
.mega-nav li>a{text-decoration:none}
@media screen and (min-width:768px){.mega-nav{margin-bottom:30px}
}
.mega-nav .collapse,.mega-nav .dropup,.mega-nav .dropdown{position:static}
.mega-nav .container{position:relative}
.mega-nav .dropdown-menu{left:auto}
.mega-nav-content{padding:20px 30px}
.mega-nav-full-width .dropdown-menu{z-index:9000;left:0;right:0}
.mega-nav-full-width .container{width:100%}
.mega-nav .dropdown-menu>li{margin:5px;padding:0}
.mega-nav .dropdown-menu{width:100%}
.mega-nav .column-control{background-color:#fff}


.mega-nav{margin-bottom:0;z-index:99}
.mega-nav .navbar{background-color:#fff;border:0;border-bottom:1px solid #003057;left:0;margin-bottom:0;position:fixed;right:0;top:0;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition:all .3s ease;transition:all .3s ease;width:100%;z-index:1}
.mega-nav .navbar-nav>li{margin:0;position:static}
.mega-nav .navbar-default .navbar-nav>li>a{color:#000;font-size:.875rem;font-weight:300;padding:1rem;position:relative}
.mega-nav .navbar-default .navbar-nav>li>a:hover{background:#005a70;color:#fff}
.mega-nav .navbar-brand{background-image:url('../img/logo.png');background-position:left 1rem center;background-repeat:no-repeat;background-size:80%;padding:0;margin:.25rem 0;text-indent:-9999px;height:50px;width:181px;-webkit-transition:all .3s ease;transition:all .3s ease}
.mega-nav .navbar-nav .open .dropdown-menu,.mega-nav .dropdown-menu>li{background-color:#e5e5e5;margin:0;padding:0}
.mega-nav .navbar-default .navbar-collapse{border:0}
.mega-nav .navbar-toggle{border:0;cursor:pointer;margin:.975rem;padding:0}
.mega-nav .navbar-toggle:focus,.mega-nav .navbar-toggle:hover{background:0}
.mega-nav .navbar-toggle:focus .fa-bars,.mega-nav .navbar-toggle:hover .fa-bars{color:#00313d}
.mega-nav .fa-bars{color:#005a70;font-size:1.75rem}
.mega-nav .link-list{margin-bottom:0}
.mega-nav .link-list ul,.mega-nav .link-list li{margin:0}
.mega-nav .link-list li:last-child a{margin:0}
.mega-nav .link-list a{color:#003057;display:block;font-size:.875rem;margin:0;padding:1rem}
.mega-nav .link-list a:hover{background-color:#005a70;color:#fff}
.mega-nav .link-list a.active{background-color:#003057;color:#fff}
.en-page .mega-nav .mega-nav-full-width:nth-child(1),.en-page .mega-nav .mega-nav-full-width:nth-child(2),.en-page .mega-nav .mega-nav-full-width:nth-child(3){display:none}
.caret{border:0;display:inline-block;margin-right:.5rem;position:relative;right:-0.25rem;top:-0.75rem}
.caret:after{content:"\f078";font-family:"FontAwesome"}
.mega-nav-full-width .dropdown-menu{left:auto;right:auto;width:auto}
@media(min-width:992px){.mega-nav .navbar{border:0}
.mega-nav .navbar-brand{background-size:contain;margin:1rem 0}
.mega-nav .dropdown-menu{background-color:#fff;border:0;box-shadow:none;padding:0}
.mega-nav .dropdown-menu>li{margin:0}
.mega-nav .navbar-default .navbar-nav>.open>a{background:0}
.mega-nav .navbar-default .navbar-nav>.open>a:after{background-color:#003057}
.mega-nav .navbar-default .navbar-nav>li>a,.mega-nav .mega-nav-full-width.open>a{margin:2.25rem 0 1.65rem;padding:0 1rem}
.mega-nav .navbar-default .navbar-nav>li>a:after,.mega-nav .mega-nav-full-width.open>a:after{bottom:-1.65rem;content:"";height:3px;left:0;position:absolute;width:100%;-webkit-transition:all .3s ease;transition:all .3s ease}
.mega-nav .navbar-default .navbar-nav>li>a:hover:after,.mega-nav .mega-nav-full-width.open>a:hover:after,.mega-nav .navbar-default .navbar-nav>li>a.active:after,.mega-nav .mega-nav-full-width.open>a.active:after{background-color:#003057}
.mega-nav .navbar-default .navbar-nav>li>a:hover,.mega-nav .mega-nav-full-width.open>a:hover{color:#003057;background:0}
.mega-nav .shrink{border-bottom:2px solid #e5e5e5;padding:0}
.mega-nav .shrink .navbar-brand{height:40px;margin:5px 0 5px -15px}
.mega-nav .shrink .navbar-nav>li>a{margin:1rem 0}
.mega-nav .shrink .navbar-nav>li>a:after{bottom:-1rem}
}
@media(min-width:768px){.navbar{border-radius:0}
.navbar-toggle{display:block}
.navbar-nav{margin:7.5px -15px}
.navbar>.container .navbar-brand{margin-left:0}
.navbar-header,.navbar-right,.navbar-nav>li{float:none!important}
.navbar-collapse.collapse{display:none!important;overflow:hidden!important}
.navbar-collapse.in{display:block!important;overflow-y:visible!important}
}
@media(min-width:992px){.mega-nav .navbar-nav{margin:0}
.mega-nav .navbar>.container .navbar-brand{margin-left:-15px}
.mega-nav .navbar-toggle{display:none}
.mega-nav .navbar-header,.mega-nav .navbar-nav>li{float:left!important}
.mega-nav .navbar-right{float:right!important}
.mega-nav .navbar-collapse.collapse{display:block!important;overflow:visible!important}
}


.breadcrumb{overflow:auto;max-width:100%;margin-bottom:5px;color:#555; padding:0px;}
.breadcrumb-nav{overflow:auto;max-width:100%;margin-bottom:5px;color:#555; padding:0px;}
@media screen and (min-width:768px){.breadcrumb{margin-bottom:20px}
                                    .breadcrumb-nav{margin-bottom:20px}
}

.breadcrumb li{margin-left:0;list-style-type:none;float:left;margin-bottom:10px}
.breadcrumb a{margin-right:10px;float:left;cursor:pointer;color:#555}
.breadcrumb a:hover{color:#333}
.breadcrumb p{margin-right:10px;float:left;cursor:default}
.breadcrumb span{padding-right:10px;float:left}
.breadcrumb .navbar-name{float:right; font-size:13px;}
.breadcrumb .navbar-name .fa-user{margin-right:6px;}
.breadcrumb .navbar-name .fa-angle-down{margin-left: 4px;}

.breadcrumb-nav li{margin-left:0;list-style-type:none;float:left;margin-bottom:10px}
.breadcrumb-nav a{margin-right:10px;float:left;cursor:pointer;color:#555}
.breadcrumb-nav a:hover{color:#333}
.breadcrumb-nav p{margin-right:10px;float:left;cursor:default}
.breadcrumb-nav span{padding-right:10px;float:left;    padding-top: 5px; font-size: 10px !important;}


.breadcrumb{background-color:#f9f9f9;margin-bottom:5px}
.breadcrumb ul{margin:0 auto;max-width:1170px;padding:0 1rem;width:100%;overflow:hidden}
.breadcrumb li:not(:first-child){display:none}
.breadcrumb .descriptor{background-color:#505759;margin-right:1rem}
.breadcrumb .descriptor p{color:#fff;display:block;margin-left:.625rem;text-transform:uppercase}
.breadcrumb li{margin-bottom:0;padding:.5rem 0}
.breadcrumb li a,.breadcrumb li p,.breadcrumb li span{color:#333;font-size:.875rem;line-height:1.4;margin-bottom:0}
.breadcrumb li a{color:#005a70}
.breadcrumb li p{display:none}
.breadcrumb li p+span{display:none}
.breadcrumb li:last-child p{display:block}

.breadcrumb-nav {background-color:transparent;margin-bottom:.975rem}
.breadcrumb-nav ul{margin:0 auto;max-width:1170px;padding:0 1rem;width:100%;overflow:hidden}
.breadcrumb-nav li{margin-bottom:0;padding:.5rem 0}
.breadcrumb-nav li a,.breadcrumb-nav li p,.breadcrumb-nav li span{color:#333;font-size:14px;line-height:1.4;margin-bottom:0}
.breadcrumb-nav li a{color:#005a70;}
.breadcrumb-nav li p{display:none}
.breadcrumb-nav li p+span{display:none}
.breadcrumb-nav li:last-child p{display:block}
.breadcrumb-nav li:first-child a{background-image:url('../img/home-icon.png');background-repeat:no-repeat;background-size:100%;display:block;position:relative;text-indent:-9999px;top:2px;width:19px;}
@media(min-width:768px){.breadcrumb ul,.breadcrumb-nav ul{width:750px}
.breadcrumb ul li:not(:first-child){display:block}
.breadcrumb-nav ul li:first-child{display:block}
header div.title{width:750px}
}
@media(min-width:992px){.breadcrumb ul,.breadcrumb-nav ul,header div.title{width:970px}
header div.title h1{float:left}
header .check-box-list{display:block;float:right;margin:1rem 0}
}
@media(min-width:1200px){.breadcrumb ul,.breadcrumb-nav ul,header div.title{width:1170px}
}

.section-normal,.section-blue{margin-top:25px;}
.section-normal{margin-bottom:25px}
.section-blue{background-color:#005a70;color:#fff;}
.section-blue h1{color:#fff;}
.search-more{color:#898a8a; font-size:14px;}
.search-more-results-filter
{
    vertical-align: top !important;
    padding-top: 5px;
    margin-left: 15px;
}
.footer{width:100%;background-color:#333;overflow:auto}
@media screen and (min-width:768px){.footer{border-bottom:0}
}
.footer-container{padding-top:10px;padding-bottom:10px;border-bottom:1px solid #ccc}
@media screen and (min-width:768px){.footer-container{border-style:none}
}
.footer-header{width:100%;color:#999;clear:both;min-height:22px;cursor:default}
.footer-links{width:100%;cursor:pointer;list-style:none;padding:2px 0 0;color:#ccc}
.footer-links-item{width:100%;margin:8px 0 0 0;color:inherit}
.footer-links-anchor{color:inherit}
.footer-text{width:100%;margin-top:10px;color:#ccc;cursor:default}
.footer-text a{color:#ccc;cursor:pointer}

footer{background-color:#505759}
footer a{color:#fff}
footer a[target]:after{content:none}
footer section{padding-top:3rem}
footer .link-list{margin-bottom:0}
footer .parsys.par-footer section{padding-top:3rem}
footer h3{color:#fff;font-size:1.25rem;text-transform:uppercase}

.social-mediabar{background-color:#505759;color:#fff;overflow:hidden;*overflow:visible;*zoom:1;min-height:50px;padding:15px 10px 5px 10px;margin-bottom:0px;}
.social-mediabar-links{margin-bottom:0;list-style:none}
.social-mediabar-links li{float:left}
.social-mediabar-links>li:first-child{margin-left:0}
.social-mediabar-copy{float:left;font-size:.875rem;display:block;margin-bottom:10px}
.social-mediabar-links-container{float:right;padding:0}
@media screen and (max-width:425px)
{
    .social-mediabar{display:none}
}

.footer-bar{overflow:hidden;*overflow:visible;*zoom:1;font-size:13px;line-height:1.3636363636363635;background:#3D3935;color:#fff;min-height:50px;padding:15px 0}
.footer-bar a{color:#fff;text-decoration:underline}
.footer-bar a:focus{background-color:#fff;color:#000}
.footer-bar a{color:#e5e5e5;text-decoration:none}
.footer-bar a:hover{color:#fff}
.footer-bar p{font-size:.875rem;margin-bottom:0}
.footer-bar .copyright{float:right;font-size: 100%;}
.footer-bar-links{list-style:none;margin-bottom:0}
.footer-bar-links li{float:left;}
.footer-bar-links li:not(:last-child){border-right:1px solid #FFF; padding-right: 15px;margin-left: 15px;}
.footer-bar-links li:first-child{margin-left:0px;}
@media screen and (max-width:992px)
{
    .footer-bar-links-container{text-align: center;float:none;clear:left;}
    .footer-bar-links-container ul{width:100%;}
    .footer-bar-links{text-align: center;float:none;clear:left;padding-top:10px}        
    .footer-bar-links li{float:none; width:100%;margin:0px; padding:0px;border-right:0px solid #FFF !important;}
    .footer-bar-links li:not(:last-child){margin:0px; padding:0px;} 
    .footer-bar .copyright{text-align: center;float:none;clear:left; margin-top:10px;}
}

.section-normal .form-control,
.section-blue .form-control 
{
    border: 1px solid #005a70;
    border-radius:0px;
    margin-right:20px;
    margin-bottom:20px;
}
.section-normal .inp-calendar, .section-blue .inp-calendar {position: relative;}
.section-normal .inp-calendar:before,
.section-blue .inp-calendar:before
{
    font-family: 'FontAwesome';
    color:#333333;
    position: absolute;
    right: 30px;
    top:4px;
    content: "\f073";  
}

/** button styles start here **/
.btn
{
    border-radius:0px;
    font-weight: 600;
    cursor:pointer;
    vertical-align: top;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn-primary {
  color: #003057;
  background-color: #FFB81C;
  border-color: #FFB81C;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #FFFFFF;
  background-color: #005a70;
  border-color: #005a70;
}
.btn-primary:hover {
  color: #FFFFFF;
  background-color: #005a70;
  border-color: #005a70;
}
.btn-primary:active,
.btn-primary.active {
  color: #FFFFFF;
  background-color: #005a70;
  border-color: #005a70;
}

.btn-primary.faded {
  color: #FFFFFF;
  background-color: #505759;
  border-color: #505759;
}

.section-blue .btn-primary:hover, 
.section-blue .btn-primary:active,
.section-blue .btn-primary:active:hover,
.section-blue .btn-primary:focus,
.section-blue .btn-primary:focus:hover
{  
    background-color:#005a70; 
    border:1px solid #FFFFFF;
    color: #FFF; 
}

.btn-w75px
{
    width: 75px;
}
.btn-w50px
{
    width: 75px;
}
.btn-w40px
{
    width: 40px;
}
.margin-right-10px
{
    margin-right:10px;
}

/** button styles end here **/

.base-table thead{border-bottom:4px solid #005a70;}
.base-table tbody:last-child {border-bottom:4px solid #005a70;}
/*.base-table thead, 
.base-table tbody{border-bottom:4px solid #005a70;}*/
.base-table thead th{font-size:15px; font-weight:600;}
.base-table tbody td{font-size:15px;}
.base-table thead th, 
.base-table tbody td{padding: 7px 10px !important; vertical-align: middle !important;}
.base-table tbody tr:hover{background-color:#e5e5e5;}
.base-table tbody tr.accordian-row:hover{background-color:transparent;} 
.base-table tbody tr.accordian-row td.accordian-content{padding-right:0px;padding-bottom:0px;}
.base-table tbody tr.accordian-row td.accordian-content:hover .fa{color:#003057;}
.base-table tbody tr.accordian-row-opened{background-color:#e5e5e5;}
.base-table tbody tr td:hover .fa{color:#FFF;}
.base-table tbody tr .fa{color:#003057;}
.sub-table tbody tr .fa{color:#003057;}
.sub-table tbody tr td:hover .fa{color:#FFF !important;}
.base-table tbody .drilldown 
{ 
    background-color: #e5e5e5;
    color:#005a70;
    font-size: 20px;
    text-align: center;
    width: 25px;
    height: 30px;
    padding-top: 5px;
    cursor: pointer;
}
.base-table tbody tr:hover .drilldown
{
    background-color: #005a70;
    color: #FFF !important;
}
.base-table tbody tr:hover .drilldown .fa
{
    color: #FFF !important;
}
.base-table .tbl-col-updown{width:40px;}
/*.base-table tfoot tr:hover{border:1px solid #005a70; color:#000;}*/
.base-table tfoot tr td a:hover{text-decoration: underline;}
.base-table tfoot tr td{text-align:center; color:#005a70; font-weight:600;font-size: 14px;}
.base-table .sub-table .row-head td{font-weight:600;border-bottom:1px solid #005a70;border-top:0px solid #FFF;}
.base-table .sub-table tbody{border-bottom:0px solid #005a70;}
.base-table .sub-table tr:hover{background-color:transparent;} 

.result-details h3, 
.result-summary h3
{
    font-size: 16px;
    font-weight: 600;    
}
.result-details .details-part h3,
.result-summary h3
{
    border-bottom: 3px solid #005a70;
    padding-bottom:10px;
}
.tblresultdetails
{
    width:100%    
}
.tblresultdetails td
{
    padding:5px;
}
.tblresultdetails .caption
{
    width:40%;
    font-weight:600;
    text-align:right;
}
.result-pass,
.result-fail
{   
    width: 225px;
    height: 170px;
    font-size: 76px;
    font-family: "Playfair Display","Georgia","Times New Roman",serif;   
    text-align: center;
    padding: 20px;
}

.result-pass
{
    background-color: #D2DB0F;
    color: #003057;
}

.result-fail
{
    background-color: #005a70;
    color: #FFF;
}

.tbl-range-summary
{
    width: 100%;
}

.tbl-range-summary td,
.tbl-range-summary th
{
    padding:8px;
}

.tbl-range-summary th
{
    font-weight:600;
    font-size: 16px;
}

.tbl-range-summary td
{
    font-size:14px;
    line-height:18pt;
}
.section-sort 
{
    float:right;
}

.child-page-list h4{margin:0;padding:0}
.child-page-list h4 a{background-color:#005a70;border-radius:3px;color:#fff;display:block;line-height:1.6;position:relative}
.child-page-list h4 a:after{color:#fff;content:"\f078";font-family:"FontAwesome";font-size:.875rem;position:absolute;right:1rem;top:.75rem;-webkit-transition:transform .4s ease-in-out;-moz-transition:transform .4s ease-in-out;-o-transition:transform .4s ease-in-out;transition:transform .4s ease-in-out}
.child-page-list-expand-collapse-button{display:none!important}
.child-page-list{padding:0 1rem;width:100%}
.child-page-list ul{background-color:#e5e5e5;border:0;margin:0 auto 1rem;-webkit-transition:max-height 1s ease-in-out;-moz-transition:max-height 1s ease-in-out;-o-transition:max-height 1s ease-in-out;transition:max-height 1s ease-in-out}
.child-page-list ul:after{content:"";display:table;clear:both}
.child-page-list li{display:block;margin:0}
.child-page-list li:after{border:0;content:none}
.child-page-list li:active>ol,.child-page-list li:focus>ol,.child-page-list li:hover>ol{display:inherit}
.child-page-list li ol{margin:0;padding:0}
.child-page-list a{color:#003057;display:block;font-size:.9375rem;font-weight:normal;line-height:1.6;padding:.75rem 1.5rem}
.child-page-list a:active,.child-page-list a:focus,.child-page-list a:hover{background-color:#005a70;color:#fff;text-decoration:none}
.child-page-list a.child-page-list-current-page{background-color:#003057;color:#fff}
.child-page-list ol{display:none;margin:0;padding:0;position:absolute;top:100%;z-index:1}
.child-page-list ol li{display:list-item;float:none;min-width:20rem;position:relative}
.child-page-list.open h4 a{border-bottom-left-radius:0;border-bottom-right-radius:0}
.child-page-list.open h4 a:after{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.child-page-list.open ul{border-bottom-left-radius:3px;border-bottom-right-radius:3px;max-height:1000px}
.child-page-list ul ol ol{left:100%;position:absolute;top:0}
@media(min-width:768px){.child-page-list{margin:0 auto;width:750px}
}
@media(min-width:992px){.child-page-list{width:100%}
.child-page-list ul{padding:0 1rem;width:970px}
.child-page-list h4{display:none}
.child-page-list{background-color:#e5e5e5}
.child-page-list ul{margin:0 auto 1rem;max-height:1000px}
.child-page-list li{float:left}
.child-page-list a{line-height:1.2}
}
@media(min-width:1200px){.child-page-list ul{width:1170px}
}

.tbl-col-progress
{
    width: 20%;
}
.progress
{
    margin-bottom: 0px;
    border-radius:0px;
}

.progress-bar
{
    background-color: #D2DB0F;
    color: #000000;
    font-weight: 700;
    text-align: right;
    padding-right: 10px;
}

.chart-area h5
{
    font-weight: 600;
}
.tbl-grade-placeholder, .tbl-score-placeholder
{
    width:100%;
}
.tbl-grade-placeholder .col-chart-container, .tbl-score-placeholder  .col-chart-container
{
    width:50%;
    vertical-align: bottom;
}
.tbl-grade-placeholder .col-white-space, .tbl-score-placeholder  .col-white-space
{
    width:5%;
}
.tbl-grade-placeholder .col-chart-legend, .tbl-score-placeholder  .col-chart-legend
{
    width:45%;
    vertical-align: bottom;
}
.tbl-grade-legend .legend-row {
    padding: 5px;
    font-size: 14px;
}
.tbl-grade-legend .col-pass, .tbl-grade-legend .col-fail, .tbl-grade-legend .col-below30
{
    width:20px;
    height:20px;
    float: left;
    margin-right: 10px;
}
.tbl-grade-legend .col-pass
{
    background-color: #D2DB0F;
}
.tbl-grade-legend .col-fail
{
    background-color: #005a70;
}
.tbl-grade-legend .col-below30
{
    background-color: #505759;
}

.font-bold {font-weight: bold;}
