<!-- Page Content Section -->
<!--<main>-->
<section class="section-normal">
    <div class="container">
        <div class="title section">
            <h1>
                John Doe
            </h1>
        </div>
        <br />
        <table class="table base-table">
            <thead>
                <tr>
                    <th colspan="2">
                        Subject
                    </th>
                    <th>
                        Date range
                    </th>
                    <th>
                        Grade
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="qualificationResult in qualificationResults" repeat-end="onEnd()">
                <tr>
                    <td class="tbl-col-updown">
                        <div class="drilldown">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </td>
                    <td>
                        {{qualificationResult.SpecificationCode + " " + qualificationResult.QualificationTypeCode + " " + qualificationResult.Name}}
                    </td>
                    <td>
                        dd/mm/yy - dd/mm/yy
                    </td>
                    <td class="font-bold">
                        PASS
                    </td>
                    <td>
                    </td>

                </tr>
                <tr class="accordian-row">
                    <td>
                        &nbsp;
                    </td>
                    <td colspan="4" class="accordian-content">
                        <table class="table sub-table">
                            <tr class="row-head">
                                <td>
                                    Unit
                                </td>
                                <td>
                                    Date
                                </td>
                                <td>
                                    UMS/Max score
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr ng-repeat="unitResult in qualificationResult.UnitResults.UnitResult">
                                <td>
                                    {{unitResult.UnitCode+ " " + qualificationResult.QualificationTypeCode+" "+unitResult.Name}}
                                </td>
                                <td>
                                    dd/mm/yyyy
                                </td>
                                <td>
                                    24/60
                                </td>
                                <td>
                                    <a ui-sref="IndividualStudentResult({LearnerId:LearnerId,PRCode:'E0000',UnitCode:'ZM201'})" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                                    <a ui-sref="IndividualStudentResult({LearnerId:LearnerId,PRCode:'E0000',UnitCode:'ZM201'})" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--<tr>
            <td class="tbl-col-updown">
                <div class="drilldown">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
            </td>
            <td>
                ZFT2 Functional Skills ICT
            </td>
            <td>
                dd/mm/yy - dd/mm/yy
            </td>
            <td class="font-bold">
                PASS
            </td>
            <td>
            </td>
        </tr>
        <tr class="accordian-row">
            <td>
                &nbsp;
            </td>
            <td colspan="4" class="accordian-content">
                <table class="table sub-table">
                    <tr class="row-head">
                        <td>
                            Unit
                        </td>
                        <td>
                            Date
                        </td>
                        <td>
                            UMS/Max score
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ZM201 FS Unit: Functional Maths L2 U1
                        </td>
                        <td>
                            dd/mm/yyyy
                        </td>
                        <td>
                            24/60
                        </td>
                        <td>
                            <a ui-sref="individualStudentResult({LearnerId:LearnerId,PRCode:'E0000',UnitCode:'ZM201'})" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                <a ui-sref="individualStudentResult({LearnerId:LearnerId,PRCode:'E0000',UnitCode:'ZM201'})" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ZM202 FS Unit: Functional Maths L2 U2
                        </td>
                        <td>
                            dd/mm/yyyy
                        </td>
                        <td>
                            36/120
                        </td>
                        <td>
                            <a ui-sref="individualStudentResult({LearnerId:LearnerId,PRCode:'E0000',UnitCode:'ZM202'})" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                <a ui-sref="individualStudentResult({LearnerId:LearnerId,PRCode:'E0000',UnitCode:'ZM202'})" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="drilldown">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
            </td>
            <td>
                CFM2 Functional Skills Mathematics Level 2
            </td>
            <td>
                dd/mm/yy - dd/mm/yy
            </td>
            <td class="font-bold">
                FAIL
            </td>
            <td>
            </td>
        </tr>
                            <tr class="accordian-row">
            <td>
                &nbsp;
            </td>
            <td colspan="4" class="accordian-content">
                <table class="table sub-table">
                    <tr class="row-head">
                        <td>
                            Unit
                        </td>
                        <td>
                            Date
                        </td>
                        <td>
                            UMS/Max score
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ZM201 FS Unit: Functional Maths L2 U1
                        </td>
                        <td>
                            dd/mm/yyyy
                        </td>
                        <td>
                            24/60
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                <a href="#" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ZM202 FS Unit: Functional Maths L2 U2
                        </td>
                        <td>
                            dd/mm/yyyy
                        </td>
                        <td>
                            36/120
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                <a href="#" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>-->

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>
<!--</main>-->
<!--/ Page Content Section -->