<!-- Page Content Section -->
<!--<main>-->
<section class="section-normal">
        <div class="container">
            <div class="title section">
                <h1>
                    Cohort results for 'June 2016'
                </h1>
            </div>
            <p>
                34 results</p>
            <div class="form-inline">
                <!--<form class="form-inline" action="/">-->
                <div class="form-group inp-calendar">
                    <input type="text" class="form-control" placeholder="Date of birth" ng-model="Month"/>
                </div>
                <a href="#" class="btn btn-primary" role="button">Search</a>
                <!--</form>-->
            </div>
        </div>
    </section>
<section>
        <div class="child-page-list section">
            <ul class="child-page-list-level-1">
                <li><a href="#" class="child-page-list-current-page">English</a></li>
                <li><a href="#">Maths</a> </li>
                <li><a href="#">ICT</a> </li>
            </ul>
        </div>
        <br />
    </section>
<section class="section-normal">
        <div class="container">
            <table class="table base-table">
                <thead>
                    <tr>
                        <th>
                            First name
                        </th>
                        <th>
                            Last name
                        </th>
                        <th>
                            Date of birth
                        </th>
                        <th>
                            UCI number
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            John
                        </td>
                        <td>
                            Smith
                        </td>
                        <td>
                            dd/mm/yy
                        </td>
                        <td>
                            1234567890
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                            <a href="#" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            John
                        </td>
                        <td>
                            Smith
                        </td>
                        <td>
                            dd/mm/yy
                        </td>
                        <td>
                            1234567890
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                            <a href="#" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            John
                        </td>
                        <td>
                            Smith
                        </td>
                        <td>
                            dd/mm/yy
                        </td>
                        <td>
                            1234567890
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                            <a href="#" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            John
                        </td>
                        <td>
                            Smith
                        </td>
                        <td>
                            dd/mm/yy
                        </td>
                        <td>
                            1234567890
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                            <a href="#" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            John
                        </td>
                        <td>
                            Smith
                        </td>
                        <td>
                            dd/mm/yy
                        </td>
                        <td>
                            1234567890
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-w50px margin-right-10px pull-right visible-md-block visible-lg-block" role="button">View</a>
                            <a href="#" class="btn btn-primary btn-w40px visible-xs-block visible-sm-block" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <a href="#">Show more <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
<br />
<br />
<br />
<!--</main>-->
<!--/ Page Content Section -->
