<div ng-controller="ContHeader">
    <div class="section mega-nav">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" title="Return to the main page">Pearson UK</a>
                </div>
            </div>
        </nav>
    </div>
    <nav class="section breadcrumb">
        <ul>
            <li class="descriptor">
                <p>
                    Resultsplus</p>
            </li>

            <li class="navbar-name"><i class="fa fa-user" aria-hidden="true"></i> John Smith <i class="fa fa-angle-down" aria-hidden="true"></i></li>
        </ul>

        <!-- <ul class="navbar-name">
            <li>John Smith</li>
        </ul>-->
    </nav>
    <nav class="section breadcrumb-nav">
        <ul>
            <li><a href="/">Home</a> <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> </li>
            <li><a href="/">Functional Skills on Demand</a> <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span> </li>
            <li>
                <p>
                    What's next?</p>
            </li>
        </ul>
    </nav>
</div>



